[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "/Users/kana/dotfiles/.tmux/plugins/tpm"]
	path = /Users/kana/dotfiles/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
