" ***移動系
" 矢印キーでは表示行単位で行移動する
nmap <UP> gk
nmap <DOWN> gj
vmap <UP> gk
vmap <DOWN> gj
nnoremap L $
nnoremap H ^

" ESC連打でハイライト解除
nmap <Esc><Esc> :nohlsearch<CR><Esc>

" expand-region plugin
vmap v <Plug>(expand_region_expand)
vmap <C-v> <Plug>(expand_region_shrink)

" ESCを押した際に英字入力に戻す
autocmd InsertLeave * :silent !/usr/local/bin/im-select com.google.inputmethod.Japanese.Roman
